<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Modeles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <span *ngFor="let user of users | async">
        <a ion-item (click)="openChat(user.$key)" *ngIf="user.$key !== uid">
             <ion-avatar item-left>
                <img *ngIf="!user.picture" src="assets/images/default.jpg">
                <img *ngIf="user.picture" src="{{user.picture}}">
             </ion-avatar>
             <h2>{{user.email}}</h2>
        </a>
      </span>
    </ion-list>
</ion-content>
